div.bad {
  display: inline-block;
}

div.bad a {
  color: red;
  text-decoration: none;
}

div.bad a:hover {
  text-decoration: underline;
}

div.good {
  display: inline-block;
}

div.good a {
  color: green;
  text-decoration: none;
}

div.good a:hover {
  text-decoration: underline;
}

div.code {
  display: inline-block;
}

div.entry {
  padding: 0.6em;
}
